/*exemplo de layout fluído. medidas nos comentários são de layouit fixo*/
/*medidas transformadas: layout em % e fontes em em*/
/* margin, padding e width são layout. De 0 a 15 = 1em, de 15 a 25 = 1.5em, a partir de 25 = 2em. */

*{
    margin:0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(34, 173, 219);
}
.header{
    width: 100%;
}
img {
    max-width: 100%;
    height: 200px;
}
.container{
    margin: 0 auto;
    width: 100%; /* width: 1024px; medidas aproximadas. Pode-se colocar 100% para responsivar todas.*/
}

h1{
    font-size: 2em; /*font-size: 32 px; 32/16*/
}

h3{
    font-size: 1.5em; /*font-size: 24 px;*/
}    

.brief{
    margin: 1em;/*margin: 5px;*/
}

.content{
    margin: 1.5em; /*margin: 15px;*/
}

.content-main{
    float: left;
    width: 80%; /*width: 600px; 600/1024*/
}

.hero{
    margin: 1.5em 0;/*margin: 25px 0;*/
}

.last-contents{
    font-size: 1em; /*font-size: 12px;*/
}

.last-content-call{
    float: left;
    margin: 1.5em 1.5em 1.5em 0; /*margin: 15px 15px 15px 0;*/
    width: 46%; /*width: 280px; 280/600*/
}



.last-content-call .secondary-title {
    margin-bottom: 0;
}

.last-content-call .brief {
    margin: 0.5em;/*margin: 5px;*/
}

.content-sidebar{
    background-color: #f0f0f0;
    float: right;
    padding: 1%; /*padding: 10px;10/1024*/
    width: 20%;/*width: 322px; 322/1024*/
}

.main-nav ul{
    list-style-type: none;
}

.main-nav li{
    background-color: #f9f9f9;
    float: left;
    margin: 4%; /*margin: 15px; 15/322*/
    outline: 1px solid #dedede;
    text-align: center;
    width: 40%;/*margin: 15px;*/
}

.main-nav a {
    display: block;
    padding: 3%; /*padding: 10px;*/
    text-decoration: none;
}

/*video{max-width = 100%; height = auto;} */

.main-footer {
    background-color: #f0f0f0;
    clear: both;
    float: left;
    font-size: 1em; /*font-size: 12px;*/
    margin: 1% 0;/* margin: 15px 0;*/
    padding: 1%; /*padding: 15px*/
    text-align: center;
    width: 100%;
}
